textarea{
	width: 300px;
	height: 100px;
}
h4{
	display: inline;
} 	
#encryptClick
{
	display: none;
	
} 	
#encryptClick div{
	display: block;
	float: left;
	margin-right: 55px;
}
#encryptClick div textarea
{


}
